*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility class */
.container {
  width: 1200px;
  margin:0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.border-l{
  border-left: 1px solid white;
}

.border-t{
  border-top:1px solid white;
}

.border-r{
  border-right: 1px solid white;
}
.button {
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button-type-a {
  border: 2px #ccc solid;
  color: orange;
}

.button-type-b {
  background: #ff7a59;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  border:2px solid white;
  box-shadow: 2px 2px 5px lightgrey;;
}


/* end utility class */

body{
  font-family: 'Montserrat', sans-serif;
}
header{
  width: 100%;
  min-width: 1200px;
}

header .content1 {
  width: 100%;
  background-color:#f2f2f2;
  border-bottom: 1px solid grey;
}


.header-nav ul{
  height: 80px;
  line-height: 80px;
}

.header-nav li {
  display: inline-block;
  margin:0 8px;
}

.search {
  position:relative;
  top:8px;
}

.search img{
  width: 50%;
}

.content2 {
  background-color: #ffffff;
}

.content2 .fl img {
  margin:20px 0;
}

.jumbotron {
  width: 100%;
  height: 695px;
  background-image:url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff4ef;
  position:relative;
}

.jumbotron-content {
  width: 100%;
}

.jumbotron-content::before{
  position:absolute;
  bottom: 0;
  left:0;
  content:"";
  background-color: #afebe4;
  height: 83px;
  width: 100%;
  border-top:3px solid #33475b;
}
.jumbotron .container {
  padding:  83px 0;
}
.jumbo-text {
  width: 40%;

}

.jumbo-text h1 {
  font-size: 40px;

}

.jumbo-text p {
  font-size: 20px;
  margin-bottom:40px;
}

.jumbo-text div {
  font-size: 20px;
  margin-bottom: 40px;
}

.jumbo-text h5{
  font-size: 15px;
  font-weight: normal;
}

main {
  width: 100%;
  min-width:1200px;
  background-color: #f5f8fa;
  text-align: center;
  border-top:3px solid #33475b;
}

main img{
  width: 10%;
  margin-top:50px;
}

main h1{
  font-size: 40px;
}

main p{
  font-size: 15px;
  padding:15px 0;
  text-align: left;
}

.crm {
  width: 100%;
  margin-top: 30px;
}

.crm-left{
  width: 30%;
}

.crm-left .illustration{
  width: 100%;
}

.crm .illustration img{
  width: 35%;
}
.box-second-line{
  width: 100%;
  margin-top: 30px;
  padding:0 30px;
  margin-bottom:30px;
}

.crm-left:last-child div{
  margin-top:20px;
}

.crm-right {
  width: 70%;
  text-align: left;
  padding: 40px 40px 40px 0;
}

.crm-right h2{
  margin-bottom:25px;
}

.crm-right p{
  font-size:15px;
  margin-bottom:15px;
}

.popular-row{
  width: 100%;
  margin-bottom:10px;
}
.cmr-right h3{
  display: inline-block;
  font-size: 10px;
}

.crm-right .row{
  width: 40%;
  border:1px solid black;
  display: inline-block;
  vertical-align: middle;
  margin-left:30px;

}

.crm-right .lista {
  height: 30px;
  line-height: 30px;
  padding-right: 50px;

}
.lista ul{
  list-style-type: none;
  display: inline-block;
}

.lista > ul > li {
  display: inline-block;
  float: left;
  padding-right:20px;
  font-size:15px;
}

.lista i{
  color:#ff7a59;
  padding-right: 10px;
}


main .column {
  width: 33.3%;
  text-align: center;
}

main .column.uno {
  padding-right: 10px;
}

.second-line-content h3 {
  margin:30px 0;
}

main .column.due {
  padding:0 10px;
}

main .column.tre {
  padding-left: 10px;
}

.column-img {
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-bottom:30px;
}

.column-img img{
  width:80px;
  height: 60px;
}

.second-line-content h4{
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  font-weight: normal;
  font-size:15px;
}

.popolar{
  text-align: left;
}

.popolar i{
  padding-right: 10px;
  color:#ff7a59;
}

.box-second-line .button.button-type-b{
  margin-top: 40px;
  margin-bottom: 10px;
}
.stats-section {
  width: 100%;
  background:linear-gradient(45deg,#00a4bd,#00bda5);
  color:#fff;
}
.stacts-section .container{
  width: 100%;
}
.stats-section h2{
  padding-top:50px;
  margin-bottom: 30px;
  font-size: 31px;
}

.stats-section h4{
  font-size: 15px;
  font-weight: normal;
}

.content-stats-section {
  width: 100%;
  margin-top:30px;
  padding-bottom:50px;
}

.squar-box {
  text-align: center;
  width: 25%;
}

.squar-box img{
  width: 60px;
  height: 30px;

}
.squar-box h6{
  font-size:30px;
  font-weight: bold;
  margin-bottom:10px;
}

.squar-box span{
  font-size:20px;
  padding:5px;
}

.squar-box p{
  font-size:10px;
  margin-bottom:20px;
}

.publish {
  width: 100%;
  background-color: white;
}

.publish .publish-row-one{
  width: 100%;
  text-align: center;
}

.row-one.left {
  width:30%;
  padding:40px 30px;
}

.row-one.left h2 {
  font-size: 50px;
}
.row-one.left p {
  font-size: 13px;
  font-weight:100;
  margin-top:15px;
  line-height: 20px;
  text-align: left;
  padding-left:50px;
}
.row-one.right{
  width:65%;
  text-align: center;
}

.img-loghi{
  width: 76%;
  margin:0;
  padding:40px 15px;
}

.publish .publish-row-two {
  width: 100%;
  background-color: white;
}
.row-two.left{
  width: 40%;
  text-align: left;
}

.row-two.left h3{
  font-size:30px;
  margin:30px 0;
}

.row-two.left p {
  line-height: 25px;
  margin-bottom:30px;
}
.row-two.right{
  width:60%;
  height: 400px;
  position: relative;
}

.row-two.right img{
  width:40%;
  margin:0;
  position: absolute;
  top:0;
  right:0;
}

.row-two.left h6{
  font-weight: normal;
  margin-top: 30px;
}

footer{
  background-color: #2d3e50;
}
footer .container {
  min-width: 1200px;

}

.column-footer {
  width: 25%;
  text-align: left;
  margin-top:20px;
  color: white;
  margin-bottom:50px;
}

.column-footer ul {
  list-style-type: none;
  font-size:12px;
  padding-top: 15px;
}

.column-footer li{
  font-size: 12px;
  margin-bottom:15px;
}

.column-footer li a{
  color:white;
}

.column-footer .button.button-type-b {
  font-size: 12px;
  padding: 0 5px;
  background-color: white;
}

.icons ul {
  list-style-type: none;
  display:inline-block;
}

.icons ul li {
  display: inline-block;
  float: left;
  padding-right:20px;
}

.languages {
  text-align: center;
  border-bottom:1px solid white;
}
.languages ul{
  list-style-type: none;
  display:inline-block;
  margin-bottom:15px;
}

.languages ul li {
  display: inline-block;
  float: left;
  color:white;
  padding-right:20px;
  font-size:12px;
}



.copyright{
  width: 100%;
  height: 100px;
  padding:20px 0;
}


.copyright h6{
  color:white;
}

.copyright ul {
  list-style-type: none;
  display:inline-block;
}

.copyright ul li {
  display: inline-block;
  float: left;
  padding-right:20px;
  color:white;
  font-size:13px;
}
